body, html {
    min-width: 1920px;
}
header {
    position:relative;
    width:100%;
    padding:10px 240px;
    display:flex;
    justify-content:center;
}
header nav {
    display:flex;
    gap:60px;
}
header nav a {
    font-weight:500;
}
main {}
main #wrap {
    width:100%;
    height:calc(100vh - 36px);
}
main #wrap .swiper-wrapper {}
main #wrap .swiper-wrapper .swiper-slide {
    padding:120px 240px;
}
main #wrap .swiper-wrapper .intro {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}
main #wrap .swiper-wrapper .intro .bg {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#F8FAFC url(../images/bg/bg1.png) repeat-x center / cover;
    animation: bg_ani 30s linear infinite;
}
main #wrap .swiper-wrapper .intro h1 {
    font-size:3rem;
    font-weight:700;
    margin-bottom:30px;
    color:#A294F9;
    animation: text_ani 0.5s both;
}
main #wrap .swiper-wrapper .intro p {
    font-size:1.375rem;
    font-weight:600;
    animation: text_ani 0.5s 0.3s both;
}
main #wrap .swiper-wrapper .profile {
    background:#D9EAFD;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items:baseline;
}
main #wrap .swiper-wrapper .profile .info {
    display:flex;
}
main #wrap .swiper-wrapper .profile .info .text_wrap_left  {
    text-align:right;
}
main #wrap .swiper-wrapper .profile .info .text_wrap_left h2 {
    font-size:1.75rem;
    font-weight:500;
    margin-bottom:30px;
}
main #wrap .swiper-wrapper .profile .info .text_wrap_left p {
    font-size:1.125rem;
}
main #wrap .swiper-wrapper .profile .info .text_wrap_left p:nth-last-of-type(1) {
    margin:10px 0;
}
main #wrap .swiper-wrapper .profile .info .profile_img {
    margin:0 50px;
    width:500px;
}
main #wrap .swiper-wrapper .profile .info .profile_img img {
    width:100%;
    transform:translateY(-80px);
}
main #wrap .swiper-wrapper .profile .info .text_wrap_right {}
main #wrap .swiper-wrapper .profile .info .text_wrap_right p {
    font-size:1.75rem;
    line-height:1.8;
}
main #wrap .swiper-wrapper .profile .address_list {}
main #wrap .swiper-wrapper .profile .address_list .tel {
    margin-bottom:25px;
}
main #wrap .swiper-wrapper .profile .address_list .tel h2 {
    font-size:1.25rem;
    font-weight:500;
    margin-bottom:10px;
}
main #wrap .swiper-wrapper .profile .address_list .tel p {}
main #wrap .swiper-wrapper .profile .address_list .mail {}
main #wrap .swiper-wrapper .profile .address_list .mail h2 {
    font-size:1.25rem;
    font-weight:500;
    margin-bottom:10px;
}
main #wrap .swiper-wrapper .profile .address_list .mail p {}
main #wrap .swiper-wrapper .profile .education {}
main #wrap .swiper-wrapper .profile .education h2 {
    font-size:1.375rem;
    font-weight:500;
    margin-bottom:30px;
}
main #wrap .swiper-wrapper .profile .education ul {
    display:flex;
    flex-flow:column nowrap;
    gap:15px;
}
main #wrap .swiper-wrapper .profile .education ul li {}
main #wrap .swiper-wrapper .profile .skills {}
main #wrap .swiper-wrapper .profile .skills h2 {
    font-size:1.375rem;
    font-weight:500;
    margin-bottom:30px;
}
main #wrap .swiper-wrapper .profile .skills ul {
    display:flex;
    flex-flow:column nowrap;
    gap:15px;
}
main #wrap .swiper-wrapper .profile .skills ul li {}
main #wrap .swiper-wrapper .profile .skills ul li span {}
main #wrap .swiper-wrapper .profile .license {}
main #wrap .swiper-wrapper .profile .license h2 {
    font-size:1.375rem;
    font-weight:500;
    margin-bottom:30px;
}
main #wrap .swiper-wrapper .profile .license ul {}
main #wrap .swiper-wrapper .profile .license ul li {}
main #wrap .swiper-wrapper .project {
    background:#BCCCDC;
}
main #wrap .swiper-wrapper .title_wrap {
    position:relative;
    display:flex;
    justify-content:space-between;
}
main #wrap .swiper-wrapper .project h2 {
    font-size:2.5rem;
    font-weight:600;
}
main #wrap .swiper-wrapper .project .swiper_btn_wrap {
    display:flex;
    width:300px;
    align-items:center;
}
main #wrap .swiper-wrapper .project .swiper-button-prev {
    color:#000;
    transform:scale(0.6) translateX(1700px);
}
main #wrap .swiper-wrapper .project .swiper-button-next {
    color:#000;
    transform:scale(0.6);
}
main #wrap .swiper-wrapper .project .swiper-pagination {
    color:#000;
    transform:translateX(510px);
}
main #wrap .swiper-wrapper .project .project_swiper {
    position:fixed;
    left:0; top:0;
    width:100%;
    display:flex;
    justify-content:center;
    height:100vh;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper {
    padding:20px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:100%;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap {
    width:100%;
    padding-top:60px;
    display:flex;
    justify-content:space-between;
    margin-bottom:40px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_img {
    width:900px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_img a {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_img a img {
    width:100%;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info p {
    font-weight:500;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info .name {
    font-size:1.5rem;
    font-weight:500;
    padding-bottom:20px;
    margin-bottom:30px;
    border-bottom:1px solid #000;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info .date {
    margin:12px 0;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info .time {
    margin-bottom:12px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .project_wrap .project_info .program {
    margin-top:12px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap {
    display:flex;
    gap:15px;
    transform:translate(520px, -90px);
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .raw_btn {
    position:absolute;
    top:-60px;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .raw_btn a {
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.3s;
    padding-bottom:2px;
    border-bottom:2px solid #000;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .raw_btn a:hover {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .temu .btn_wrap .raw_btn a {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .temu .btn_wrap .raw_btn a:hover {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .funkita .btn_wrap .raw_btn a {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .funkita .btn_wrap .raw_btn a:hover {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .dongkook_ls .btn_wrap .raw_btn a {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .dongkook_ls .btn_wrap .raw_btn a:hover {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .raw_btn a span {
    font-weight:500;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .raw_btn a img {
    filter:invert(100%);
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .dongkook_ls .btn_wrap .raw_btn a img {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .proto_btn  {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .proto_btn a {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:11px 0;
    width:200px;
    border-radius:10px;
    background-color:#A2AADB;
    transition:all 0.3s;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .proto_btn a:hover {
    background-color:#898AC4;
    box-shadow:0 0 5px rgba(0,0,0,0.4);
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .proto_btn a span {
    color:#fff;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .proto_btn a img {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn {}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn a {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:11px 0;
    width:200px;
    border-radius:10px;
    background-color:#000;
    transition:all 0.3s;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn a span {
    color:#fff;
    font-size:1.125rem;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn a:hover {
    background-color:#fff;
    box-shadow:0 0 5px rgba(0,0,0,0.4);
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn a:hover span {
    color:#000;
    transition:all 0.3s;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-wrapper .swiper-slide .btn_wrap .result_btn a:hover img {
    filter:invert(100%);
    transition:all 0.3s;
}
main #wrap .swiper-wrapper .project .project_swiper .swiper-scrollbar {}
main #wrap .swiper-wrapper .design {
    background:#BCCCDC;
}
main #wrap .swiper-wrapper .design h2 {
    font-size:2.5rem;
    font-weight:600;
}
main #wrap .swiper-wrapper .design .design_bnr_swiper {}
main #wrap .swiper-wrapper .design .design_details_swiper {}
main #wrap .swiper-wrapper .design .design_width_bnr_swiper .swiper-scrollbar {}
main .popup_bg {}
@keyframes text_ani {
    0% {
        opacity:0;
        transform:translateY(50px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes bg_ani {
    0% {
        background-position:0;
    }
    100% {
        background-position:1920px;
    }
}